<div class="container">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <div *ngFor="let offer of incomingTradeOffers">

        <ng-container matColumnDef="sender">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sender</th>
          <td mat-cell *matCellDef>{{offer.senderID}}</td>
        </ng-container>

        <!--&lt;!&ndash; Sender Column &ndash;&gt;
        <ng-container matColumnDef="sender">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sender </th>
          <td mat-cell *matCellDef="let row">
            <span class="mx-2">{{row.symbol | uppercase}}</span>
          </td>
        </ng-container>

        &lt;!&ndash; Sent Coin Column &ndash;&gt;
        <ng-container matColumnDef="sent_coin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sent Coin </th>
          <td mat-cell *matCellDef="let row"> {{row.current_price}} </td>
        </ng-container>

        &lt;!&ndash; Received Coin Column &ndash;&gt;
        <ng-container matColumnDef="received_coin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Received Coin </th>
          <td mat-cell *matCellDef="let row"> {{row.price_change_percentage_24h}}% </td>
        </ng-container>

        &lt;!&ndash; Trade Offer Details Column &ndash;&gt;
        <ng-container matColumnDef="trade_offer_details">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Trade Offer Details </th>
          <td mat-cell *matCellDef="let row"> {{row.market_cap}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        &lt;!&ndash; Row shown when there is no matching data. &ndash;&gt;
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </div>-->
      </div>
    </table>



    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
