
<!--
<div>
  <mat-toolbar color="primary" class="mat-elevation-z8">
    <mat-icon><span class="material-symbols-outlined">
currency_bitcoin
</span></mat-icon>Crypto Avenue

    <a mat-button routerLink="home">Home</a>
    <a mat-button routerLink="markets">Markets</a>
    <a mat-button routerLink="about-us">About Us</a>

    <div class="navbar-spacer"></div>
>



    <a mat-button routerLink="login">Login</a>
    <a mat-raised-button color="accent" routerLink="register">Register</a>
  </mat-toolbar>



  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="home">Home</a>
        <a mat-button routerLink="markets">Markets</a>
        <a mat-button routerLink="about-us">About Us</a>
        <a mat-button routerLink="login">Login</a>
        <a mat-button routerLink="register">Register</a>
      </div>

    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      Awesome content
    </mat-sidenav-content>
  </mat-sidenav-container>



</div>
-->

<!--
<div class="navbar-menu">
  <mat-toolbar color="primary" class="mat-elevation-z8">
    <div fxShow="true" fxHide.gt-sm="true">
      <a mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </a>
    </div>

    <a mat-button class="companyName" routerLink="">
      <span>Crypto Avenue</span>
    </a>

    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/home">Home</a>
      <a mat-button routerLink="/markets">Markets</a>
      <a mat-button routerLink="/about-us">About Us</a>

    </div>
    <div class="navbar-spacer"></div>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/login">Login</a>
      <a mat-raised-button color="accent" routerLink="/register">Register</a>
    </div>

  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="home">Home</a>
        <a mat-button routerLink="markets">Markets</a>
        <a mat-button routerLink="about-us">About Us</a>
        <a mat-button routerLink="login">Login</a>
        <a mat-button routerLink="register">Register</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
-->


<div>
  <mat-toolbar color="primary">

    <!--<div fxShow="true" fxHide.gt-sm="true">
      <a mat-button>
        <mat-icon>menu</mat-icon>
      </a>
    </div>-->

    <mat-icon><span class="material-symbols-outlined">
currency_bitcoin
</span></mat-icon>Crypto Avenue

    <div>
      <!--fxShow="true" fxHide.lt-md="true" -->

      <a mat-button (click)="goToHomePage()">Home</a>
      <a mat-button (click)="goToMarketsPage()">Markets</a>
      <a mat-button (click)="goToAboutUsPage()">About Us</a>

    </div>

    <span class="navbar-spacer"></span>

    <div fxShow="true">
      <!--fxHide.lt-md="true" -->
      <a mat-button *ngIf="isUserLoggedIn()" (click)="goToUserSearchPage()"><mat-icon>search</mat-icon></a>
      <a mat-button *ngIf="isOnBalancePage()" (click)="goToDepositPage()">Deposit</a>
      <a mat-button *ngIf="isOnBalancePage()" (click)="goToWithdrawPage()">Withdraw</a>
      <a mat-button *ngIf="isUserLoggedIn()" (click)="goToBalancePage()">Balance</a>
      <a mat-button routerLink="/login" *ngIf="!isUserLoggedIn()">Login</a>
      <a mat-raised-button color="accent" routerLink="register" *ngIf="!isUserLoggedIn()">Register</a>
      <a mat-raised-button (click)="logOut()" color="warn" *ngIf="isUserLoggedIn()">Log Out</a>

    </div>


  </mat-toolbar>

  <!--<mat-sidenav-container fxFlexFill class="example-container">
  &lt;!&ndash;  <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <a (click)="sidenav.toggle()" mat-button>Close</a>
        <a mat-button routerLink="/home">Home</a>
        <a mat-button routerLink="/markets">Markets</a>
        <a mat-button routerLink="/about-us">About Us</a>
        <a mat-button routerLink="/login">Login</a>
        <a mat-button routerLink="/register">Register</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
    </mat-sidenav-content>
  </mat-sidenav-container>&ndash;&gt;-->
</div>

