<div class="container py-5">

  <div class="row" >
    <div class="col-lg-7 mx-auto" >
      <div class="bg-yellow rounded-lg shadow-sm p-5" style="background-color: #673ab7" >
        <!-- Credit card form tabs -->
        <ul role="tablist" class="nav bg-light nav-pills rounded-pill nav-fill mb-3" >
          <li class="nav-item">
            <a mat-button data-toggle="pill" class="nav-link rounded-pill" (click)="switchToCreditCard()">
              <i class="fa fa-credit-card"></i>
              Credit Card
            </a>
          </li>
          <li class="nav-item">
            <a mat-button data-toggle="pill" routerLink="/bank-transfer-info" style="background-color: #ffd740" class="nav-link active rounded-pill">
              <i class="fa fa-university"></i>
              Bank Transfer
            </a>
          </li>
        </ul>
        <!-- End -->

        <!-- Credit card form content -->
        <div class="bank-transfer-form">
          <div class="tab-content" style="background-color: white">

            <!-- bank transfer info -->
            <div>
              <h6>Bank account details</h6>
              <dl>
                <dt>Bank</dt>
                <dd> REVOLUT BANK</dd>
              </dl>
              <dl>
                <dt>Bank Address</dt>
                <dd>7 Westferry Circus, Canary Wharf, London, England</dd>
              </dl>
              <dl>
                <dt>Account number</dt>
                <dd>7775877975</dd>
              </dl>
              <dl>
                <dt>IBAN</dt>
                <dd>RB497328947283432132</dd>
              </dl>
            </div>
            <!-- End -->
          </div>
          <button mat-raised-button (click)="cancel()" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm cancel-btn"> Cancel  </button>
          <button mat-raised-button (click)="submit()" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm confirm-btn"> Confirm  </button>
        </div>
        <!-- End -->

      </div>
    </div>
  </div>
</div>
