.alert, .alert-success{
  background-color: #673ab7;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.spacer2 {
  display: flex;
  justify-content: space-between;
}

.cancel-btn {
  background-color: red;
  float: left;
}

.confirm-btn {
  background-color: #ffd740;
  float: right;
}
