<!--<a mat-button (click)="testDeposit()">Test Button</a>-->
<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card>
    <mat-toolbar color="primary">
      Deposit Page
    </mat-toolbar>
    <mat-card-header>
      Select the currency you want to deposit
    </mat-card-header>
    <br>
    <br>
    <form [formGroup]="depositDetails" (ngSubmit)="deposit(depositDetails)" fxLayoutAlign="stretch" fxLayout="column">
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Currency</mat-label>
          <mat-select required formControlName="currency" [(value)]="selectedCurrency">
            <mat-option [value]="this.eur">EUR</mat-option>
            <mat-option [value]="this.usd">USD</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Amount</mat-label>
          <input matInput required formControlName="coinAmount">
        </mat-form-field>
      </mat-card-content>
      <button mat-raised-button type="submit" color="primary">Deposit</button>
    </form>

  </mat-card>
</div>

<!--<form [formGroup]="testForm" (ngSubmit)="deposit2(testForm)">
  <mat-form-field>
    <input matInput required formControlName="coinAmount">

  </mat-form-field>
  <button mat-raised-button type="submit" color="primary">Deposit</button>
</form>-->

<!--<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card>
    <mat-toolbar color="primary">
      Deposit Page
    </mat-toolbar>
    <mat-card-header>
      Select the currency you want to deposit
    </mat-card-header>
    <br>
    <br>
    <form fxLayoutAlign="stretch" fxLayout="column" #form="ngForm" (ngSubmit)="deposit2()">
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Currency</mat-label>
          <mat-select required [(value)]="selectedCurrency" [(ngModel)]="selectedCurrency">
            <mat-option [value]="this.eur">EUR</mat-option>
            <mat-option [value]="this.usd">USD</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Amount</mat-label>
          <input matInput required [(ngModel)]="selectedAmount">
        </mat-form-field>
      </mat-card-content>
      <button mat-raised-button color="primary" type="submit">Deposit</button>
    </form>

  </mat-card>
</div>-->

