<div class="login" fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="45">
    <mat-toolbar color="primary">Login Page</mat-toolbar>
    <form class="login-form" fxLayoutAlign="stretch" fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Email">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Password">
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary">Login</button>
    </form>
  </mat-card>
</div>
